* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
  color: var(--white);
}
:root {
  /*  Primary */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-blue:#252E37;
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --regular: 400;
  --bold: 700;
}
body{
  background-color: var(--very-dark-blue);
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
}
main{
  width: 350px;
  margin: auto;
  margin-bottom: 100px;
}
/** ---------------------- Section 1 Styles ---------------------- */
.section1 {
  /* min-width: 350px; */
  height: auto;
  background-image: linear-gradient(to right bottom, #141519, #191b20, #1e2228, #222830, #262f38);
  display: grid;
  border-radius: 20px;
  padding: 20px;
}

.section1__content-starImg {
  margin: 0;
  background-color: var(--medium-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/images/icon-star.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.section1__content h1 {
  font-weight: var(--bold);
  font-size: 2.5rem;
}
.section1__content p {
  font-size: 1.5rem;
  color: var(--light-grey);
  line-height: 2.1rem;
}

.section1__rates {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  user-select: none;
}
.section1__rates .btn-rate {
  display: flex;
  cursor: pointer;
  background-color: var(--medium-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section1__rates .btn-rate:hover {
  background-color: var(--orange);
}
/*! FIX HERE ---------------------------*/
.section1__rates .btn-rate:active{
  background-color: var(--medium-grey);
}
.section1__rates .btn-rate:focus{
  background-color: var(--medium-grey);
  background: var(--orange);
}

.section1__btn-submit{
  display: flex;
  height: 40px;
  background-color: var(--orange);
  border-radius: 30px ;
  letter-spacing: 0.3rem;
  font-weight: var(--bold);
  color: var(--white);
  align-items: center;
  justify-content: center;
}
.section1__btn-submit:hover{
  background-color: var(--white);
  color: var(--orange);
}

.error {
  background-color: red;
  border-radius: 10px;
  font-size: 1.6rem;
  height: 20px;
  width: auto;
  text-align: center;
  margin: 20px 0px 0px 0px
}

/** ---------------------- Section 2 Styles ---------------------- */
.section2 {
  text-align: center;
  min-width: 350px;
  height: auto;
  background-image: linear-gradient(to right bottom, #141519, #191b20, #1e2228, #222830, #262f38);
  border-radius: 20px;
  padding: 20px;
}

.section2__content-img {
  background-image: url('/images/illustration-thank-you.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 200px;
}

.section2__content h1 {
  font-weight: var(--bold);
  font-size: 2.5rem;
}
.section2__content p {
  font-size: 1.5rem;
  color: var(--light-grey);
  line-height: 2.1rem;
}

.section2__rate{
  color: var(--orange);
  background-color: var(--medium-blue);
  font-size: 1.6rem;
  height: 30px;
  width: 65%;
  border-radius: 20px;
  margin: auto;
  padding-top: 6px;
  margin-bottom: 20px;
}

.inactive {
  display: none;
}

/** ---------------------- Attribution Styles ----------------------  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*! ---------------------- @media Queries ----------------------  */
